<?xml version="1.0"?>
<config>
    <modules>
        <Johnboy_MeetingTwo>
            <version>1.0.0</version>
        </Johnboy_MeetingTwo>
    </modules>
    <global>
        <models>
            <meetingtwo>
                <class>Johnboy_MeetingTwo_Model</class>
            </meetingtwo>
            <sales>
                <rewrite>
                    <order>meetingtwo/sales_order</order>
                </rewrite>
            </sales>
        </models>
    </global>
    <frontend>
        <routers>
            <meetingtwo>
                <use>standard</use>
                <args>
                    <module>Johnboy_MeetingTwo</module>
                    <frontName>meetingtwo</frontName>
                </args>
            </meetingtwo>
            <customer>
                <args>
                    <modules>
                        <Johnboy_MeetingTwo before="Mage_Customer">Johnboy_MeetingTwo_Customer</Johnboy_MeetingTwo>
                    </modules>
                </args>
            </customer>
        </routers>
        <events>
            <controller_action_predispatch_cms>
                <observers>
                    <homepage_redirect>
                        <type>singleton</type>
                        <class>Johnboy_MeetingTwo_Model_Observer</class>
                        <method>checkHomeUrl</method>
                    </homepage_redirect>
                </observers>
            </controller_action_predispatch_cms>
        </events>
    </frontend>
</config>
